.category-container {
    height: 60px;
    background-color: var(--color-bg-navcategory);
    padding: 20px 0 20px 20px;
    display: flex;
    align-items: center;
}

.category-container a {
    font-size: 16px;
    color: var(--color-font-secondary);
    margin-right: 20px;
}

.category-container a:hover {
    text-decoration: none;
}