@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --color-bg-primary: #fff;
    --color-bg-navbar: #2D28FF;
    --color-bg-navcategory: #C7C7C7;

    --color-font-primary: #fff;
    --color-font-secondary: #000;
    --color-font-tertiary: #2D28FF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-color: var(--color-bg-primary);
}

a,
a:hover {
    text-decoration: none;
    color: unset;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.mb20 {
    margin-bottom: 20px;
}

.nav-link {
    text-decoration: none;
}

.active-link {
    font-weight: bold; 
}